.container {
    display: flex;
    height: 100vh;
  }
  
  .login-section {
    flex: 1;
    background-color: #1e3b73;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .transparent-box {
    display: flex;
    width: 70%; /* عرض المستطيل الشفاف */
    height: 80%; /* ارتفاع المستطيل الشفاف */
    background-color: rgba(255, 255, 255, 0.1); /* خلفية شفافة */
    border-radius: 20px; /* زوايا منحنية */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* ظل خفيف للمستطيل */
    overflow: hidden;
  }
  
  
  input {
    margin: 10px 0;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .next-button {
   
    color: white;
    padding: 10px;
   
    border-radius: 5px;
  }
  
   .image-section {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
   
  
  h1 {
    color: #007bff;
  }
  