.container {
    display: flex;
    height: 100vh;
  }
  
  
  .signup-section {
    flex: 1;
    background-color: #1e3b73;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 80px;
    
  }
  
  
  form {
    display: flex;          
    flex-direction: column; 
  }
  
  
  .signup-form {
    display: flex;       
    gap: 20px;            
  }
  
  
  .signup-section1, .signup-section2 {
    flex: 1;              
    display: flex;
    flex-direction: column; 
    gap: 8px;            
  }
  
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: white;
  }
  
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  .image-section {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }